# TELEGRAM
TG_BOT_TOKEN=
TG_PROXY_URL=
ADMIN_CHAT_ID=
BOT_CHAT_ID=

# VK
VK_BOT_TOKEN=
VK_ADMIN_PEER_ID=
VK_GROUP_ID=
VK_USER_TOKEN=

# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# PAYMENT
TEST_PROVIDER_TOKEN=
CURRENCY=
PRICE=
FEEDBACK_URL=

# DOCKER
CONTAINER_NAME=
DB_CONTAINER_NAME=

YANDEX_DISK_TOKEN=
